.App {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: grab;
    &.is-grabbed {
        cursor: grabbing;
        .scrollbar {
            &__thumb {
                cursor: grabbing;
            }
        }
    }
}

.home {
    cursor: pointer;

    position: absolute;
    left: 8.25rem;
    top: 3.2rem;
    z-index: 2;

    padding-left: 5.875rem;

    background: url("./assets/img/home.png") top 0.25rem left no-repeat;
    background-size: 20%;

    font-family: "Circle";
    text-transform: uppercase;
    font-size: 2.125rem;
    line-height: 100%;
    color: #000;

    &__text {
        padding-left: 3.25rem;
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
        border-left: 1px solid #000;
    }
}

.swipe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 21.125rem 5.625rem 0 8.75rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    .h1 {
        font-family: "DINPro";
        font-size: 3rem;
        line-height: 140%;
        text-transform: uppercase;
        letter-spacing: 0.475rem;
    }
}

.main {
    background-image: url("./assets/img/main/background.png");
    transform: translateX(0);

    &__body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__text {
        position: relative;
    }

    &__icon {
        background-image: url("./assets/img/main/icon.png");
    }

    .bacteria_1_static {
        width: 26.75rem;
        height: 14.5rem;
        top: 9rem;
        left: -11rem;
        background-image: url("./assets/img/main/bacteria_1.png");
    }

    .bacteria_2_static {
        width: 51.7rem;
        height: 22.9rem;
        bottom: -1rem;
        left: -16.75rem;
        background-image: url("./assets/img/main/bacteria_2.png");
    }

    .bacteria_3_static {
        width: 10.5rem;
        height: 9.5rem;
        bottom: 7.5rem;
        left: 43.5rem;
        background-image: url("./assets/img/main/bacteria_3.png");
    }

    .bacteria_4_static {
        width: 74rem;
        height: 11.5rem;
        top: 19.3rem;
        right: 0;
        z-index: 1;
        background-image: url("./assets/img/main/bacteria_4.png");
    }

    .bacteria_5_static {
        width: 8.75rem;
        height: 8.75rem;
        top: 3.75rem;
        right: 4.5rem;
        background-image: url("./assets/img/main/bacteria_5.png");
    }

    .bacteria_6_animate {
        width: 7.8rem;
        height: 7.1rem;
        top: 7.8rem;
        right: 27rem;
        background-image: url("./assets/img/main/bacteria_6.png");
    }

    .bacteria_7_animate {
        width: 14rem;
        height: 14rem;
        top: 13rem;
        right: 29rem;
        z-index: 2;
        background-image: url("./assets/img/main/bacteria_7.png");
        offset-path: path(
            "m52.1,130.5c30.2,-16.7 71.6,5 85.2,23.9c13.6,18.8 24.2,38.1 57.9,42.9c33.7,4.7 75.3,-103.1 1.6,-78.7c-73.6,24.3 -68.8,63.8 -121.1,71.7c-52.2,7.8 -53.9,-43 -23.7,-59.7z"
        );
    }

    .bacteria_8_animate {
        width: 9rem;
        height: 9rem;
        bottom: 24rem;
        left: 3rem;
        background-image: url("./assets/img/main/bacteria_8.png");
    }

    .bacteria_9_animate {
        width: 28rem;
        height: 28rem;
        bottom: -12rem;
        right: 32rem;
        background-image: url("./assets/img/main/bacteria_9.png");
    }
}

.anounce {
    background-image: url("./assets/img/anounce/background.png");
    transform: translateX(100vw);
    padding-top: 17rem;
    z-index: 1;

    &__h1 {
        margin-bottom: 6.25rem;
        max-width: 22.5rem;
    }

    .scroll {
        cursor: default;
        position: relative;
        padding-left: 50px;
        height: 55.75rem;

        &__body {
            overflow: hidden;
            height: inherit;
            background-color: #fff;
            border-radius: 5rem;
            padding: 4rem;
            box-shadow: 2rem 2rem 10rem rgba($color: #9db9c6, $alpha: 0.6);
            max-width: 97rem;

            &::-webkit-scrollbar {
                width: 0;
            }
        }

        &__wrapper {
            overflow: hidden;
            height: 100%;
        }

        &__text {
            font-size: 2.75rem;
            line-height: 135%;
            font-family: "DINPro";
        }

        .scrollbar {
            position: absolute;
            top: 0;
            left: 0.9375rem;
            width: 0.625rem;
            height: 100%;
            background-color: black;
            border-radius: 0.3rem;

            &__thumb {
                cursor: grab;
                position: absolute;
                top: 0;
                left: -0.9375rem;
                width: 2.5rem;
                border-radius: 1.25rem;
                background: url("./assets/img/anounce/scroll.png") no-repeat center;
                background-size: cover;
            }
        }
    }

    &.first_opened {
        .bacteria_1_animate {
            width: 142rem;
            height: 66rem;
            top: 12.5rem;
            right: -60rem;
            background-image: url("./assets/img/anounce/bacteria_1.png");
        }
        .bacteria_2_animate {
            width: 91rem;
            height: 43rem;
            top: 12rem;
            right: -36rem;
            background-image: url("./assets/img/anounce/bacteria_2.png");
        }
        .bacteria_3_animate {
            width: 52rem;
            height: 24.5rem;
            top: 9.25rem;
            right: -12.5rem;
            background-image: url("./assets/img/anounce/bacteria_3.png");
        }
        .bacteria_4_animate {
            width: 91rem;
            height: 43rem;
            top: 51.5rem;
            right: -74.5rem;
            background-image: url("./assets/img/anounce/bacteria_2.png");
        }
        .bacteria_5_animate {
            width: 41rem;
            height: 20rem;
            bottom: 12rem;
            right: -23.5rem;
            background-image: url("./assets/img/anounce/bacteria_5.png");
        }
        .bacteria_1_animate {
            animation: bacteria_5 2s ease;
        }
        .bacteria_2_animate {
            animation: bacteria_5 2.5s ease;
        }
        .bacteria_3_animate {
            animation: bacteria_5 3s ease;
        }
        .bacteria_4_animate {
            animation: bacteria_5 2s ease;
        }
        .bacteria_5_animate {
            animation: bacteria_5 2s ease;
        }
    }
}

.offer {
    background-image: url("./assets/img/offer/background.png");
    background-color: rgba($color: #000000, $alpha: 0.5);
    transform: translateX(200vw);
    padding-top: 16.125rem;
    padding-left: 22.125rem;
    padding-right: 5rem;
    padding-bottom: 5rem;

    &__body {
        z-index: 1;
        position: relative;
        padding: 5rem;
        padding-left: 6rem;

        &.is_open {
            background-color: #fff;
            border-radius: 5rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__h1 {
        margin-left: 16rem;
    }

    &__text {
        margin-left: 15rem;
        margin-bottom: 5rem;
    }

    .popup {
        margin-left: 16rem;
        margin-bottom: 5rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba($color: #000000, $alpha: 0.5);
            animation: bg 1s ease;
        }
        .advantage {
            font-size: 3rem;
            &__num {
                font-family: "Gillroy";
                font-weight: 700;
                margin-bottom: 1rem;
                color: #8cc9e8;
            }
            &__text {
                font-family: "DINPro";
            }
        }
    }

    .close {
        position: absolute;
        width: 4rem;
        height: 4rem;
        top: 5rem;
        right: 5rem;
        background: url("./assets/img/offer/close.png") no-repeat;
        background-size: cover;
    }

    .switch {
        margin-left: 16rem;
        display: flex;
        &__button {
            width: 1rem;
            height: 2rem;
            background: transparent url("./assets/img/offer/arrow.png") no-repeat center left;
            background-size: cover;
            border: none;
            &_next {
                transform: rotate(180deg);
            }
        }
        &__indicator {
            margin: 0 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                width: 1.3rem;
                height: 1.3rem;
                border: 0.25rem solid black;
                border-radius: 50%;
                &:first-child {
                    margin-right: 1rem;
                }
                &.active {
                    border-color: #fc6da9;
                    background-color: #fc6da9;
                }
            }
        }
    }

    .button {
        position: relative;
        grid-area: c;
        bottom: 0;
        right: 0;
    }

    .icon {
        position: relative;
        &::after,
        &::before {
            position: absolute;
            content: "";
            width: 2px;
            height: 30%;
            top: calc(35%);
            left: calc(50% - 1px);
            background-color: #fff;
        }
        &::before {
            transform: rotate(90deg);
        }
    }

    .adv {
        display: grid;
        grid-template-areas: "a b" "a c";
        gap: 5rem;

        &__a,
        &__b {
            position: relative;
            font-family: "DINPro";
            font-size: 3rem;
            border-radius: 5rem;
            background-color: #fff;
            box-shadow: 1rem 1rem 15rem rgba($color: #9db9c6, $alpha: 0.4);
            img {
                position: absolute;
                top: -4.25rem;
                width: 8.5rem;
                height: 7.8rem;
            }
        }
        &__a {
            grid-area: a;
            padding: 6.25rem 6.25rem 8rem 16rem;
            img {
                left: 16rem;
            }
        }
        &__b {
            grid-area: b;
            padding: 5rem;
            img {
                left: 5rem;
            }
        }
    }

    .bacteria_1_animate {
        width: 142rem;
        height: 66rem;
        top: 12.5rem;
        left: -82rem;
        background-image: url("./assets/img/anounce/bacteria_1.png");
    }
    .bacteria_2_animate {
        width: 91rem;
        height: 43rem;
        top: 12rem;
        left: -55rem;
        background-image: url("./assets/img/anounce/bacteria_2.png");
    }
    .bacteria_4_animate {
        width: 91rem;
        height: 43rem;
        top: 51.5rem;
        left: -16.5rem;
        background-image: url("./assets/img/anounce/bacteria_2.png");
    }
    .bacteria_5_animate {
        width: 41rem;
        height: 20rem;
        bottom: 12rem;
        left: -17.5rem;
        background-image: url("./assets/img/anounce/bacteria_5.png");
    }

    .bottle {
        width: 29rem;
        height: 86rem;
        left: 6rem;
        bottom: 0;
        z-index: 3;
        background-image: url("./assets/img/offer/bottle.png");
    }

    .bubble_1 {
        width: 4rem;
        height: 4rem;
        top: 26rem;
        left: 10rem;
        z-index: 2;
        background-image: url("./assets/img/offer/1.png");
    }

    .bubble_2 {
        width: 14rem;
        height: 14rem;
        top: 40rem;
        left: 23rem;
        z-index: 2;
        background-image: url("./assets/img/offer/2.png");
    }

    .bubble_3 {
        width: 4.75rem;
        height: 4.75rem;
        top: 8rem;
        left: 25rem;
        z-index: 2;
        background-image: url("./assets/img/offer/3.png");
    }

    .bubble_4 {
        width: 7.5rem;
        height: 7.5rem;
        top: 74rem;
        left: 30rem;
        z-index: 2;
        background-image: url("./assets/img/offer/4.png");
    }

    .bubble_5 {
        width: 8.5rem;
        height: 8.5rem;
        top: 19rem;
        left: 23rem;
        z-index: 4;
        background-image: url("./assets/img/offer/5.png");
    }

    .bubble_6 {
        width: 18rem;
        height: 18rem;
        top: 88rem;
        left: 23rem;
        z-index: 4;
        background-image: url("./assets/img/offer/6.png");
    }

    .bubble_7 {
        width: 4rem;
        height: 4rem;
        top: 56rem;
        left: 1.5rem;
        z-index: 4;
        background-image: url("./assets/img/offer/7.png");
    }

    .bubble_8 {
        width: 9rem;
        height: 9rem;
        top: 69rem;
        left: 4rem;
        z-index: 4;
        background-image: url("./assets/img/offer/8.png");
    }
}

.logo {
    position: absolute;
    z-index: 1;
    bottom: 2rem;
    left: 8.7rem;
    width: 7.125rem;
    height: 1rem;
    background: url("./assets/img/logo.svg") center center no-repeat;
    background-size: contain;
}

.button {
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    right: 8rem;
    border: none;
    display: flex;
    align-items: center;
    padding: 2rem;
    height: 10rem;
    border-radius: 5rem;
    background-color: #ff6a9f;
    font-size: 3.375rem;
    letter-spacing: 0.2rem;
    font-family: "DINPro";
    span {
        margin-right: 2.625rem;
    }
    .circle {
        width: 6rem;
        height: 6rem;
        background-color: #000;
        border-radius: 50%;
        &__border {
            width: 6.875rem;
            height: 6.875rem;
            background-image: linear-gradient(135deg, #b8517c, #ff9bbf);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-right: 2rem;
        }
    }
    .icon {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
    }
}

.big_text {
    font-size: 13.6rem;
    line-height: 14.6rem;
    font-family: "Gillroy";
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    b {
        font-weight: bold;
    }
}

.bacteria,
.bottle,
.bubble {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
    &.open {
        display: flex;
    }
    &__body {
        padding: 5rem;
        width: 70%;
        height: 70%;
        border-radius: 5rem;
        font-size: 3rem;
        font-family: "DINPro";
        background-color: #fff;
        box-shadow: 0 0 3rem rgba($color: #000000, $alpha: 0.7);
        display: flex;
        flex-direction: column;
        h1 {
            font-size: 3rem;
            text-align: center;
            margin-bottom: 5rem;
        }
        .steps {
            flex: 1;
            div {
                margin: 2rem 0;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                img {
                    align-self: center;
                    margin: 1rem 0;
                    width: 10rem;
                    height: 4rem;
                }
                &:last-child {
                    img {
                        width: 100%;
                        max-width: 80rem;
                    }
                }
            }
        }
    }
}

.animate {
    &.main {
        .bacteria_6_animate {
            animation: bacteria_1 30s linear infinite;
        }

        .bacteria_7_animate {
            animation: bacteria_2 45s infinite linear;
        }

        .bacteria_8_animate {
            animation: bacteria_3 30s linear infinite;
        }

        .bacteria_9_animate {
            animation: bacteria_4 45s linear infinite;
        }
    }
    &.offer {
        .bubble_1 {
            animation: bubble_1 15s ease-in-out infinite;
        }
        .bubble_2 {
            animation: bubble_2 7s linear infinite;
        }
        .bubble_3 {
            animation: bubble_3 30s linear infinite;
        }
        .bubble_4 {
            animation: bubble_4 30s ease-in-out infinite;
        }
        .bubble_5 {
            animation: bubble_5 15s ease-in-out infinite;
        }
        .bubble_6 {
            animation: bubble_6 45s ease-in-out infinite;
        }
        .bubble_7 {
            animation: bubble_7 20s ease-in-out infinite;
        }
        .bubble_8 {
            animation: bubble_8 50s linear infinite;
        }
    }
}

@keyframes bacteria_1 {
    0% {
        transform: translate(0, 0) scale(1, 1);
    }
    25% {
        transform: translate(4rem, 2rem) scale(0.9, 0.9);
    }
    50% {
        transform: translate(7rem, 5rem) scale(1, 1);
    }
    75% {
        transform: translate(-2rem, 7rem) scale(0.7, 0.7);
    }
    90% {
        transform: translate(-3rem, 2rem) scale(0.9, 0.9);
    }
    100% {
        transform: translate(0, 0) scale(1, 1);
    }
}

@keyframes bacteria_2 {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}

@keyframes bacteria_3 {
    0% {
        transform: translate(0, 0) scale(1, 1);
    }
    25% {
        transform: translate(-2rem, -3rem) scale(0.9, 0.9);
    }
    50% {
        transform: translate(2rem, 2rem) scale(0.6, 0.6);
    }
    75% {
        transform: translate(0rem, 3rem) scale(0.8, 0.8);
    }
    100% {
        transform: translate(0, 0) scale(1, 1);
    }
}

@keyframes bacteria_4 {
    0% {
        transform: translate(0, 0) scale(1, 1);
    }
    33% {
        transform: translate(-5rem, -3rem) scale(1.3, 1.3);
    }
    66% {
        transform: translate(5rem, -2rem) scale(1.1, 1.1);
    }
    100% {
        transform: translate(0, 0) scale(1, 1);
    }
}

@keyframes bacteria_5 {
    0% {
        transform: translate(10rem, 10rem) scale(0, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0) scale(1, 1);
        opacity: 1;
    }
}

@keyframes bubble_1 {
    0% {
        transform: translate(0, 0);
    }
    33% {
        transform: translate(5rem, 5rem);
    }
    66% {
        transform: translate(5rem, -2rem);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes bubble_2 {
    0% {
        transform: translate(0, 0) scale(1, 1);
    }
    33% {
        transform: translate(2rem, -2rem) scale(1.35, 1.35);
    }
    50% {
        transform: scale(1.7, 1.7);
    }
    66% {
        transform: translate(2rem, 2rem) scale(1.35, 1.35);
    }
    100% {
        transform: translate(0, 0) scale(1, 1);
    }
}

@keyframes bubble_3 {
    0% {
        transform: rotate(0deg) translateX(3rem) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(4rem) rotate(-360deg);
    }
}

@keyframes bubble_4 {
    0% {
        transform: rotate(0deg) translateX(3rem) rotate(0deg);
    }
    25% {
        transform: rotate(360deg) translateX(0rem) rotate(-360deg);
    }
    50% {
        transform: rotate(0deg) translateX(-3rem) rotate(0deg);
    }
    75% {
        transform: rotate(360deg) translateX(0rem) rotate(-360deg);
    }
    100% {
        transform: rotate(0deg) translateX(3rem) rotate(0deg);
    }
}

@keyframes bubble_5 {
    0% {
        transform: rotate(0deg) translateX(0) rotate(0deg);
    }
    50% {
        transform: rotate(180deg) translateX(8rem) rotate(-180deg);
    }
}

@keyframes bubble_6 {
    0% {
        transform: rotate(0deg) translateX(0) rotate(0deg) scale(1, 1);
    }
    50% {
        transform: rotate(-180deg) translateX(8rem) rotate(180deg) scale(1.3, 1.3);
    }
}

@keyframes bubble_7 {
    0% {
        transform: rotate(0deg) translateX(2rem) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(3rem) rotate(-360deg);
    }
}

@keyframes bubble_8 {
    0% {
        transform: rotate(0deg) translateX(3rem) rotate(0deg) scale(1, 1);
    }
    25% {
        transform: rotate(360deg) translateX(0rem) rotate(-360deg);
    }
    50% {
        transform: rotate(0deg) translateX(-3rem) rotate(0deg) scale(1.5, 1.5);
    }
    75% {
        transform: rotate(360deg) translateX(0rem) rotate(-360deg);
    }
    100% {
        transform: rotate(0deg) translateX(3rem) rotate(0deg) scale(1, 1);
    }
}

@keyframes bg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
